<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <input type="text" v-model="keyword" @input="search" placeholder="Ketikkan kata kunci">
        <ul>
            <li v-for="(book, key) in bookList" v-if="book">
                {{ books[key] }}
            </li>
        </ul>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            keyword : '',
            bookList : [true, true, true, true, true],
            books : [
                'Kalkulus Dasar',
                'Fisika Dasar',
                'Aljabar Linier Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman'
            ]
        },
        methods: {
            search : function() {
                for (let i = 0; i < this.books.length; i++) {
                    if (this.books[i].toLowerCase().split(this.keyword.trim().toLowerCase()).length == 1)
                        this.bookList[i] = false;
                    else
                        this.bookList[i] = true
                }
            }
        },
    })
    </script>
</body>
</html>
